:root {
    --header-height:80px;
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    background-color:white;
    margin:var(--header-height 0 0 0);
    user-select:none;
    -webkit-user-select:none;
}

.container {
    height:100vh;
    position:fixed;
    overflow:hidden;
    width:100vw;
}

.page-container {
    display:flex;
    height:calc(100vh - var(--header-height));
    width:400%;
}

.page-container > .page {
    display:flex;
    flex-direction:column;
    font:normal 16pt Helvetica, sans-serif;
    height:100%;
    transition:all 0.5s;
    width:100%;
}

.modal-container {
    align-items:center;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.7);
    display:none;
    height:100%;
    justify-content:center;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:1;
}

.modal-container.visible {
    display:flex;
}

.modal-container > .modal {
    background-color:white;
    border:1px solid black;
    border-radius:10px;
    display:none;
    flex-direction:column;
    font:normal 16pt Helvetica, sans-serif;
    gap:10px;
    max-height:90%;
    padding:10px;
    width:80%;
}

.modal.visible {
    display:flex;
}

.modal .button-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.modal .button {
    background-color:lightgray;
    border:1px solid black;
    font:inherit;
    text-align:center;
    width:50%;
}

.modal input[type='text'] {
    background-color:lightgray;
    border:1px solid black;
    font:inherit;
    text-align:center;
    width:100%;
}

.modal input[type='checkbox'] {
    margin-right:10px;
}

.modal #team-player-list {
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
}

.modal label {
    font:inherit;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.page-header {
    background-color:lightgray;
    font:bold 24pt Helvetica, sans-serif;
    display:flex;
    justify-content:space-between;
}

.menu-container {
    align-items:center;
    background-color:lightgray;
    bottom:0;
    display:flex;
    height:var(--header-height);
    justify-content:space-evenly;
    left:0;
    position:fixed;
    text-align:center;
    width:100%;
}

.menu-container > .menu-item {
    color:darkgray;
    font:normal 12pt Helvetica, sans-serif;
}

.menu-container > .menu-item.active {
    color:black;
}

.menu-item > i {
    display:block;
    font-size:24pt;
}

.swipe-container {
    display:flex;
    overflow:auto;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
}

.swipe-container::-webkit-scrollbar {
    display:none;
}

.swipe-item {
    min-width:100%;
    scroll-snap-align:start;

}

.swipe-action {
    align-items:center;
    color:white;
    display:flex;
    justify-content:space-between;
    background-color:red;
    min-width:60%;
}