:root {
    --header-height:80px;
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    background-color:white;
    margin:var(--header-height 0 0 0);
}

.container {
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.page-container {
    display:flex;
    height:calc(100vh - var(--header-height));
    width:400%;
}

.page-container > .page {
    display:flex;
    flex-direction:column;
    font:normal 16pt Helvetica, sans-serif;
    height:100%;
    transition:all 0.5s;
    width:100%;
}

.modal-container {
    display:none;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    z-index:1;
}

.modal-container.visible {
    display:block;
}

.modal-container > .modal {
    align-items:center;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.7);
    display:none;
    flex-direction:column;
    gap:10px;
    justify-content:center;
    height:100%;
    width:100%;
}

.modal.visible {
    display:flex;
}

.modal .button-container {
    display:flex;
    flex-direction:row;
    font:normal 16pt Helvetica, sans-serif;
    gap:10px;
    justify-content:center;
    width:100%;
}
.modal .button {
    background-color:lightgray;
    border:1px solid black;
    text-align:center;
    width:25vw;
}

.modal input[type='text'] {
    background-color:lightgray;
    border:1px solid black;
    font:normal 16pt Helvetica, sans-serif;
    text-align:center;
    width:50vw;
}

.modal input[type='checkbox'] {

}

.modal label {
    font:normal 16pt Helvetica, sans-serif;
    width:50vw;
}

.page-header {
    background-color:lightgray;
    /* display:fixed; */
    font:bold 24pt Helvetica, sans-serif;
    /* left:0; */
    /* text-align:center; */
    /* top:0; */
    display:flex;
    justify-content:space-between;
}

.menu-container {
    align-items:center;
    background-color:lightgray;
    bottom:0;
    display:flex;
    height:var(--header-height);
    justify-content:space-evenly;
    left:0;
    position:fixed;
    text-align:center;
    width:100%;
}

.menu-items > .menu-item {
    color:darkgray;
    font:normal 12pt Helvetica, sans-serif;
}

.menu-items > .menu-item.active {
    color:black;
}

.menu-item > i {
    display:block;
    font-size:2rem;
}

/* li {
    list-style:none;
} */

.swipe-container {
    display:flex;
    overflow:auto;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
}

.swipe-container::-webkit-scrollbar {
    display:none;
}

.swipe-item {
    scroll-snap-align:start;
}

.swipe-item {
    min-width:100%;
}

.swipe-action {
    align-items:center;
    color:white;
    display:flex;
    justify-content:space-between;
    background-color:red;
    min-width:70%;
}