* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
}

#app {
    background-color: black;
    color: white;
    display: grid;
    font: normal 14pt Helvetica, sans-serif;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
}

#menu-bar {
    align-items: center;
    color: gold;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.page {
    border: 1px solid white;
    border-radius: 8px;
    display: none;
    margin: 8px;
    width: calc(100% - 16px);
}

.page.visible {
    display: block;
}

.list-header {
    background-color: gold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.list-header .material-symbols-outlined {
    font-size:16pt;
}

.list-container {
    overflow-y: scroll;
}

.list-item {
    background-color: red;
    display: flex;
    margin: 8px;
    overflow-x: scroll;
    overscroll-behavior-x: none;
    scroll-snap-type: x mandatory;
}

.list-item-slider {
    /* align-items: center; */
    background-color: black;
    /* display: flex; */
    /* gap: 8px; */
    min-width: 100%;
    scroll-snap-align: start;
}

.list-player {
    align-items: center;
    display: flex;
    gap: 8px;
}

.list-number {
    background-color: gold;
    border-radius: 50%;
    color: black;
    font-size:12pt;
    padding: 4px;
    text-align: center;
    width: calc(1lh + 8px);
}

.list-game {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr auto;
}

.list-date {
    color: gray;
    font-size: 12pt;
    font-style: italic;
    grid-column: span 2;
}

.list-home-team, .list-home-score {
    color: gold;
}

.list-slider div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item .material-symbols-outlined {
    margin: auto 20%;
}

#navigation-bar {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navigation-item {
    color: gold;
    font-size: 10pt;
    padding: 8px;
    text-align: center;
}

.navigation-item .material-symbols-outlined {
    /* display: block; */
    font-size: 14pt;
    padding: 4px;
}

.navigation-item.active {
    background-color: #333;
}