* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: beige;
    overflow: hidden;
    overscroll-behavior: none;
    padding-bottom: env(safe-area-inset-bottom);
    user-select:none;
    -webkit-user-select:none;
}

#app {
    color: black;
    display: grid;
    font: normal 14pt Helvetica, sans-serif;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    height: 100%;
    width: 100%;
}

#menu-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.page {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    display: none;
    margin: 8px;
    width: calc(100% - 16px);
}

.page.visible {
    display: block;
}

.modal {
    align-items: center;
    background-color: beige;
    background-color: rgba(245, 245, 220, 0.8);
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.modal.visible {
    display: flex;
}

.modal-dialog {
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 16px);
    text-align: center;
    width: calc(100% - 16px);
}

.modal-header {
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
}

.modal-jersey {
    background-image: url(jersey.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.modal-jersey input {
    background-color: transparent;
    border: none;
    padding: 8px;
    text-align: center;
    width: 80%;
}

.modal-jersey input#player-name {
    color: black;
    font: normal 16pt Helvetica, sans-serif;
}

.modal-jersey input#player-number {
    color: orange;
    font: bold 64pt Helvetica, sans-serif;
}

#gameHeader {
    color: black;
    display: grid;
    grid-template-columns: 1fr auto;
    width: calc(100% - 16px);
}

#gameHeader > div:nth-child(even) {
    text-align: right;
}
#gameHeader > div:nth-child(odd) {
    text-align: left;
}

#gamePlayByPlay {
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    height: 100%;
    margin-bottom: 8px;
    width: calc(100% - 16px);
}

.modal-button-grid {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-bottom: 8px;
    width: calc(100% - 16px);
}

.modal-button-grid.visible {
    display: grid;
}

.modal-button-grid > div {
    border: 1px solid black;
    border-radius: 8px;
    font: bold 18pt Helvetica, sans-serif;
    padding: 8px;
    display: grid;
    align-items: center;
}

.modal-button-grid > div.gold {
    background-color: gold;
    color: black;
}

.modal-button-grid > div.green {
    background-color: green;
    color: white;
}

.modal-button-grid > div.red {
    background-color: red;
    color: white;
}

.modal-button-grid > div.gray {
    background-color: lightgray;
    color: black;
}

.modal-button-grid > div.white {
    background-color: white;
    color: black;
}

.modal-button-grid > div.black {
    background-color: black;
    color: white;
}

.modal-button-grid > div > span {
    display: block;
    font: normal 10pt Helvetica, sans-serif;
}

.modal-buttons {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 8px;
    width: 80%;
}

.modal-button-ok, .modal-button-cancel {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

.modal-button-ok {
    background-color: orange;
}

.list-header {
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.list-header .material-symbols-outlined {
    font-size: 16pt;
}

.list-container {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 40px);
}

.list-item {
    display: flex;
    /* margin: 8px; */
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.list-item-slider {
    padding: 4px;
    min-width: 100%;
    scroll-snap-align: start;
}

.list-player, .list-team {
    align-items: center;
    display: flex;
    gap: 8px;
}

.list-number {
    background-color: orange;
    border-radius: 50%;
    color: black;
    font-size: 12pt;
    padding: 4px;
    text-align: center;
    width: calc(1lh + 8px);
}

.list-game {
    display: grid;
    /* gap: 8px; */
    grid-template-columns: 1fr auto;
}

.list-date {
    color: gray;
    font-size: 12pt;
    font-style: italic;
    grid-column: span 2;
}

.list-home-team, .list-home-score {
    color: orange;
}

.list-slider div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item .material-symbols-outlined {
    align-items: center;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 20%;
}

#navigation-bar {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navigation-item {
    color: black;
    font-size: 10pt;
    padding: 8px;
    text-align: center;
}

.navigation-item .material-symbols-outlined {
    /* display: block; */
    font-size: 14pt;
    padding: 4px;
}

.navigation-item.active {
    background-color: orange;
}